@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600&display=swap');
@import './variables';
@import './reset';

html {
	-ms-overflow-style: none;
	scrollbar-width: thin;
}
html::-webkit-scrollbar {
	width: 4px;
	background: transparent;
}
html::-webkit-scrollbar-thumb {
	background: $blue;
}
body {
	font-family: 'Kanit', sans-serif;
	background-color: $blueLight;
	color: $black;
	font-weight: 300;
}
.max-width {
	max-width: $maxWidth;
	padding: 0 20px;
	margin: 0 auto;
}
i {
	font-style: italic;
}
hr {
	display: block;
	width: 100%;
	margin: 0 0 20px;
	border-style: inset;
	border-width: 1px;
	border-color: #3f89af;
}
