.hero-bg {
	position: absolute;
	left: 0;
	bottom: 0;

	.st0 {
		fill: url(#SVGID_1_);
	}
	.st1 {
		fill: #ffffff;
	}
	.st2 {
		fill: #305d8a;
	}
	.st3 {
		opacity: 0.2;
	}
	.st4 {
		fill: #9db6c9;
	}
	.st5 {
		fill: #0099ff;
	}
	.st6 {
		opacity: 0.41;
	}
	.st7 {
		opacity: 0.33;
	}
	.st8 {
		fill: #00a87e;
	}
	.st9 {
		opacity: 0.38;
	}
	.st10 {
		fill: #e4c6aa;
	}
	.st11 {
		fill: #aa9e80;
	}
	.st12 {
		fill: none;
	}
	.st13 {
		fill: #eae8e1;
	}
	.st14 {
		fill: url(#SVGID_2_);
	}
	.st15 {
		fill: #ffff85;
	}

	#lamp .st14 {
		display: none;
	}
}
