@import '../styles/variables';

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 0;
	background-color: transparent;
	transition: all ease-in-out 0.2s;
	z-index: 2;

	&.moved {
		background-color: rgba(174, 242, 255, 0.85);
		box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 5px 2px;
	}

	.max-width {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media screen and (max-width: $small) {
			justify-content: flex-end;
		}

		.social-links {
			svg {
				width: 20px;
				height: 20px;
				fill: $blue;
			}

			@media screen and (max-width: $small) {
				display: none;
			}
		}

		.menu {
			display: flex;

			li {
				margin-right: 10px;

				&:last-of-type {
					margin-right: 0;
				}

				a {
					font-size: 1.2em;
					font-weight: 300;
					color: $blueDark;
					text-decoration: none;
					transition: all ease-in 0.2s;
					border-radius: 20px;
					padding: 5px 15px;

					&.active {
						background-color: $white;
						box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 2px;
						transition: all ease-out 0.2s;
					}

					&:hover {
						background-color: $white;
						transition: all ease-out 0.2s;
					}
				}
			}
		}
	}
}
