.skills-svg {
	.st0 {
		opacity: 0.4;
	}
	.st1 {
		fill: #ffffff;
	}
	.st3 {
		opacity: 0.2;
	}
	.st4 {
		opacity: 0.5;
		fill: #ffffff;
	}
	.st5 {
		fill: #e8ebf5;
	}
	.st6 {
		fill: #a7bcce;
	}
	.st7 {
		fill: #bbcee1;
	}
	.st8 {
		fill: #0f4463;
	}
	.st9 {
		fill: #0b3b56;
	}
	.st10 {
		fill: #1f5e77;
	}
	.st11 {
		fill: #1c75bc;
	}
	.st12 {
		fill: #ef4136;
	}
	.st13 {
		fill: #91a6b7;
	}
	.st14 {
		fill: #098caf;
	}
	.st15 {
		fill: #0099ff;
	}
	.st16 {
		fill: #006699;
	}
	.st17 {
		fill: #9263c1;
	}
	.st18 {
		fill: #8444b2;
	}
	.st19 {
		fill: #7231a3;
	}
	.st20 {
		fill: #79ff68;
	}
	.st21 {
		fill: #50e85e;
	}
	.st22 {
		fill: #3cc743;
	}
	.st23 {
		fill: #07304b;
	}
	.st24 {
		fill: url(#SVGID_1_);
	}
	.st25 {
		fill: #f5d012;
	}
	.st26 {
		fill: #edf0f8;
	}
	.st27 {
		fill: #ed5561;
	}
	.st28 {
		fill: #f0cec9;
	}
	.st29 {
		fill: #fffbf0;
	}
	.st30 {
		fill: #f5ddd8;
	}
	.st31 {
		fill: #dfbab8;
	}
	.st32 {
		fill: #9d4d36;
	}
	.st33 {
		fill: #f4767a;
	}
	.st34 {
		fill: #d8395a;
	}
	.st35 {
		opacity: 0.8;
	}
	.st36 {
		fill: #fcec32;
	}
	.st37 {
		fill: #eaa10c;
	}
	#IconReact {
	}
	#IconHTML {
	}
	#IconCSS {
	}
	#IconSearch {
	}
	#Keyboard {
	}
	#Mouse {
	}
	#Desk {
	}
	#Papers {
	}
	#Mug {
	}
	#Pc {
	}
}
